.different {
  // background-color: #44bb19;
  border: 1px solid rgba(46, 45, 45, 0.809);
  border-radius: 3rem;
  margin-bottom: 2rem;
  display: flex;
  // align-items: center;
  // justify-content: center;
  @media (max-width: 1150px) {
    flex-direction: column;
    // margin: auto;
    width: 100%;
    // padding: 2rem;
    // gap: 3rem;
    // height: 100vh;
  }
  @media (max-width: 584px) {
    width: 100%;
  }
  .picture {
    width: 37%;
    // background-color: rgb(231, 247, 54);
    padding: 1.5rem;
    height: 100%;
    @media (max-width: 1150px) {
      width: 100%;
      height: 50%;
      // background-color: aqua;
    }
    @media (max-width: 481px) {
      height: 40%;
    }
    .Framer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 90%;
      object-fit: contain;
      @media (max-width: 1075px) {
        width: 100%;
        height: 200px;
        align-items: center;
        justify-content: center;
        // background-color: red;
      }
    }
    .man {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .information {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 63%;
    // background-color: aqua;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    // padding: 1.5rem;
    border-radius: 1rem;
    @media (max-width: 1150px) {
      // width: 100%;
      height: 100%;
      // background-color: red;
    }
    @media (max-width: 616px) {
      width: 100%;
      height: 60%;
    }
    .diff {
      font-size: 2.5rem;
    }
    .digital {
      font-size: 1.2rem;
      @media (max-width: 1150px) {
        font-size: 1rem;
      }
    }
    .Browse {
      color: white;
      background-color: #0d0d0d;
      border-radius: 0.8rem;
      font-size: 1rem;
      padding: 0.7rem;
      border: 1px solid rgba(46, 45, 45, 0.809);
      width: 40%;
      @media (max-width: 638px) {
        // font-size: 0.5rem;
        width: 80%;
      }
      // height: 40px;
    }
  }
}
